extends /_layouts/single


append vars
  -
    var pageInfo = {
      path: '/modern-css/ch01/',
      title: 'modern css chapter 1 | static-pack',
      description: 'Just testing some things',
      pageClass: 'modern-css-ch01'
    }

block main
  article.container
    h1
      span modern css chapter 1
    p
      | #{pageInfo.description}
    .ex-01-vertical-align
      .container.mx-auto.px-4 vertically centering using just positioning + transform:
      .parent
        .child
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut tellus elementum sagittis vitae et leo duis ut. Diam quis enim lobortis scelerisque.
    .ex-02-speech-bubbles-scale
      div speech bubbles/arrows that scale with text amount and font size
        .box
          .box-content ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          
      
