// using stylus ftw
.modern-css-ch01
  .box
    min-width 5rem
    max-width 5rem
    border 2px solid tomato
    margin 10px

.ex-01-vertical-align
  .parent // suppose you had some box with a certain height
    height 300px
    padding 0 1rem
    margin 1rem
    border 1px solid tomato
  .child
    font-size 1.2rem
    // you could center its child element using positioning plus transform
    position relative
    top 50%
    transform translateY(-50%)
